<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Django Course</title>
  </head>
  <body>
    <section class="py-10">
      <div class="flex justify-center">
        <img src=" {{book.thumbnailUrl}} " alt="bookimage" width="200" />
      </div>
      <h1 class="text-center text-3xl">{{book.title}}</h1>
      <p>{{book.pageCount}}</p>
      <p>{{book.shortDescription}}</p>
      <p>{{book.longDescription}}</p>
    </section>
  </body>
</html>
